{% extends 'base.html' %}

{% block content %}
<style>
   

     .product-form {
        margin: 0 auto;
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    .product-form input,
    .product-form select,
    .product-form textarea {
        width: 100%;
        height: 50%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .submit-btn {
        background-color: palevioletred;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 80%;
        font-size: 16px;
    }

    .submit-btn:hover {
        background-color: deeppink;
    }

    h1 {
        color: #333;
        font-size: 40px;
    }

    form {
        text-align: left;
    }
</style> 

<center><h1>Product Add Page</h1></center>
<!-- <img src="static/media/images/bg_img.webp"> -->
<br>

<form method="POST" class="product-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ proform }}
    <br>
    <button class="submit-btn">Submit</button>
</form>

{% endblock %}
